<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.labsticc.framework.compatibility.compatibilityUpdaters">
      <updater
            class="fr.openpeople.rdalte.compatibility.Constraints11RequirementCompatibilityUpdater">
      </updater>
   </extension>

</plugin>
