<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/CoreDiagramFile.gif"
  	     category="org.osate.Wizard.category.ID"
  	     class="fr.openpeople.rdal.model.core.diagram.part.RdalCreationWizard"
  	     id="fr.openpeople.rdal.model.core.diagram.part.RdalCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
     <wizard
           category="org.osate.Wizard.category.ID"
           class="fr.openpeople.rdal.model.core.presentation.CoreModelWizard"
           icon="icons/CoreDiagramFile.gif"
           id="fr.openpeople.rdal.model.core.presentation.CoreModelWizard"
           name="%_UI_CoreModelWizard_label">
        <description>
           %_UI_CoreModelWizard_description
        </description>
        <selection
              class="org.eclipse.core.resources.IResource">
        </selection>
     </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="aadl.view_category"
            class="fr.openpeople.rdal.ide.view.AdvancedRdalEditingViewPart"
            icon="icons/advancedEditingView.gif"
            id="fr.openpeople.rdal.ide.osate.view.AdvancedRdalEditingViewPart"
            name="%view.advancedediting.name">
         <description>
            %view.advancedediting.description
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="fr.openpeople.rdal.ide.osate.showHideResourceNavigatorCoverage"
            targetID="org.eclipse.ui.navigator.ProjectExplorer">
         <action
               class="fr.openpeople.rdal.ide.view.traceability.navigator.ShowHideCommonNavigatorCoverageActionDelegate"
               icon="icons/covStatistics.gif"
               id="fr.openpeople.rdal.ide.view.traceability.navigator.ShowHideResourceNavigatorCoverageActionDelegate"
               label="%action.coverage.navigator.show.label"
               menubarPath="additions"
               state="false"
               style="toggle"
               toolbarPath="additions"
               tooltip="%action.coverage.navigator.show.label">
         </action>
      </viewContribution>
      <viewContribution
            id="fr.openpeople.rdal.ide.osate.showHideResourceNavigatorCoverage"
            targetID="org.osate.ui.navigator.AadlNavigator">
         <action
               class="fr.openpeople.rdal.ide.view.traceability.navigator.ShowHideCommonNavigatorCoverageActionDelegate"
               icon="icons/covStatistics.gif"
               id="fr.openpeople.rdal.ide.view.traceability.navigator.ShowHideResourceNavigatorCoverageActionDelegate"
               label="%action.coverage.navigator.show.label"
               menubarPath="additions"
               state="false"
               style="toggle"
               toolbarPath="additions"
               tooltip="%action.coverage.navigator.show.label">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="fr.openpeople.rdal.ide.coverageListers">
      <provider
            class="fr.openpeople.rdal.ide.osate.view.traceability.AADLCoverageLister">
      </provider>
   </extension>
   <extension
         point="fr.openpeople.rdal.model.diagram.additionalAdapterFactories">
      <factory
            class="org.osate.aadl2.provider.Aadl2ItemProviderAdapterFactory">
      </factory>
      <factory
            class="org.osate.aadl2.instance.provider.InstanceItemProviderAdapterFactory">
      </factory>
   </extension>
   <extension
         point="fr.openpeople.rdal.ide.editorHandlers">
      <handler
            class="fr.openpeople.rdal.ide.osate.CoreEditorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.osate.ui.perspective.AadlPerspective">
         <newWizardShortcut
               id="fr.openpeople.rdal.model.core.diagram.part.RdalCreationWizardID">
         </newWizardShortcut>
         <newWizardShortcut
               id="fr.openpeople.rdal.model.core.presentation.CoreModelWizard">
         </newWizardShortcut>
         <viewShortcut
               id="fr.openpeople.rdal.ide.view.AdvancedRdalEditingViewPart">
         </viewShortcut>
         <view
               id="fr.openpeople.rdal.ide.view.AdvancedRdalEditingViewPart"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
